

.header {



    &__wrapper {
        padding-top: 46px;

        .menu-btn {
            display: none;
            width: 35px;
            background-color: transparent;
            order: 1;
            border: none;
            cursor: pointer;
            position: relative;
            left: 727px;
            
        
        }
        
        .btn-line {
            position: absolute;
            left: 0;
            width: 100%;
            background-color: #000;
            height: 2px;
            transition: .5s ease all;
        }
        
        .btn-line:nth-child(1) {
            top: 0;
        }
        
        .btn-line:nth-child(2) {	
            top: 10px;
        }
        
        .btn-line:nth-child(3){
            top: 10px;
        }
        
        .btn-line:nth-child(4){
            top: 20px;
        }
        
        .menu-open .btn-line:nth-child(1){
            transform: scaleX(0);          //уменьшение до нуля
        }
        
        .menu-open .btn-line:nth-child(2){
            transform: rotate(45deg);
        }
        
        .menu-open .btn-line:nth-child(3){
            transform: rotate(-45deg);
        }
        
        .menu-open .btn-line:nth-child(4){
            transform: scaleX(0);
        }
        
    }

    &__main {
        margin-top: 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__left {
        max-width: 500px;
    }

    &__header {
        font-weight: 600;
        font-size: 44px;
        line-height: 66px;
        text-align: start;
        margin-bottom: 20px;
    }

    &__descr {
        font-size: 14px;
        line-height: 2;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    

    &__logo {
        display: block;
        width: 115px;
        height: 35px;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        text-decoration: none;
        color: #000;
        position: relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            background: #FDA300;
            border-radius: 50%;
            top: 27px;
            left: 95px;
        }
    }

    &__items {
        width: 446px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 21px;
        gap: 50px;
        .active{
            color: #606060;
        }
    }
    &__link{
            color: #000;
            text-decoration: none;
            &.active{
                color: #606060;
            }
    }
}


