
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    a{
        text-decoration: none;
    }

}

.container{
    max-width: 100%;
    background: #F1F1F1;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}


@import "header";
@import "skills";
@import "portfolio";
@import "footer";














